/*! main.scss v1.0 | GNU  | RIEHL EMMANUEL */

/**
 * Graphic & Iconographic Charter Meet&Greet Africa
 * 
 */
 //Main Banners Color
// $mg_color_1: #872d87;
$mg_color_1: #6f2570;
$mg_color_2: #fdd835;
//Main Footer foundation
$mg_color_3: #a9c065;
$mg_color_4: #e6f7ff;
//Writing Police Color
$mg_color_5: #231F20;
//Header Foundation
$mg_color_6: #EDF3F7;
$mg_color_7: #F5F5F5;
//Ads Banner Foundation
$mg_color_8: #E6EBF0;
// more...
$mg_color_9: #ff003c;

//lists for typo
$typo_orientations: left top right bottom; 
$typo_types: margin padding;
$typo_proportions : width height line-height;
$percent: "%";

